<!-- <p>
  file-upload works!
</p> -->
<div class="form-group m-form__group" id="facility-photo-upload">
  <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="fileSelected($event)"/>
  <img [src]="fileUrl" class="uploaded-img" onError="this.src='http://via.placeholder.com/150x150';">
  <!-- //fileUrl -->
</div>
